body{
    margin: 0 30px 0 30px;
}

.navbar{
    background-color:black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
.navbar-name{
    width: 50%;
    color:white;
}

.navbar-link{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.btn{
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color:#008CBA;
    border-radius:1px;
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: #fff; /* Green */
    color: black;
}